VITE_APP_HOST=localhost
VITE_APP_PORT=3000
VITE_APP_HOST_API=localhost
VITE_APP_PORT_API=3001
VITE_APP_URL_API='http://localhost:3001/api'
VITE_ACCOUNT_HERO_CONTRACT_ADDRESS='0x1d493B807363803A1d37e9f18400f3dF4Aa3CBa4'
